body{
    padding: 0;
    margin: 0;
    background-color: rgb(18, 51, 51);
    font-family: sans-serif;
}
.form h1{
    align-content: center;
    color: #fff;
}
.form{
    width: auto;
    height: 650px;
    background-color: rgb(15, 43, 43);
    border-radius: 15px;
    padding: 5px;
    margin: 5% 20% 5% 20%;
    align-items: center;
   
}
        
.form label{
    font-size: 20px;
    font-family: sans-serif;
    display: inline-block;
    color:#fff;
    width:35%;
    display: inline-block;
    margin-left: 20px;
    text-align:start;
}
.form input{
    margin-bottom: 30px;
    width: 150px;
    height: 20px;
    
}
